.box{
        height:800px;
		width:500px;
		border:1px solid black;
		}
.box1{
	   float:left;
	    height:100px;
		width:100px;
		background-color:white;
	
}
.box2{
	    float:left;
	    height:100px;
		width:100px;
		background-color:green;
}